html { 
    background: url("../ressources/images/125818066_369491337803948_6155554622324336045_n.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#game-container {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

#game {
    width: 600px;
    height: 400px;
    background-color: wheat;
    border: 1px solid black;
}

.nav {
    padding: 1rem;
    font-size: 1.2em;
}

.lbl {
    color: white;
}


#submit, #reset {
    background: none;
    background-color: none;
    border: none;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

#reset:hover {
    background-color: white;
    color: black;
}
#submit:hover {
    background-color: white;
    color: black;
}

.mall {
    height: 30px;
    width: 30px;
    background-color: tomato;
    position: relative;
    top: 0px;
    left: 0px;
}
